@import url('https://fonts.googleapis.com/css?family=Antic+Didone|Work+Sans:100');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: auto;
	margin: 200px auto;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif; 
	color: #595959;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-family: 'Antic Didone', serif;
	color: #C05746;

}

a {
	color: #C05746;
}

.clock {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	font-size: 10em;
	font-weight: 100;
	font-family: 'Work Sans', sans-serif;
}

.menu {
	margin: auto;
	text-align: center;
}

.btn {
	width: 50px;
	height: 40px;
	outline: none;
	background-color: #595959;
}

.btn:hover {
	background-color: #C05746;
}

.btn:active:focus, .btn:focus {
	outline: none;
}

.fa{
	font-size: 1em;
	text-align: center;
	margin: auto;
	color: white;
}

.preferences {
	width: 250px;
	height: auto;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	background-color: #595959;
	border: 1px solid black;

}

.session-settings {
	margin-top: 10px;
	color: white;
}

#decrease, #increase {
	background-color: #595959;
	outline: none;
	border: none;
}

#minute-settings {
	width: 25px;
	margin: auto;
	text-align: center;
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	background-color: #595959;
	color: white;
}

footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	text-align: center;
	font-size: .8em;
}
